In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('dataset/us_stock/sp500_historical.parquet')
df

,dateAdded,addedSecurity,removedTicker,removedSecurity,date,symbol,reason
0,"October 12, 2022",Targa Resources,,,2022-10-12,TRGP,Elliot Management Corp acquired Nielsen Holdings.
1,"October 12, 2022",,NLSN,Nielsen Holdings,2022-10-12,NLSN,Elliot Management Corp acquired Nielsen Holdings.
2,"October 3, 2022",,CTXS,Citrix Systems,2022-10-03,CTXS,Vista Equity Partners acquired Citrix Systems.
3,"October 3, 2022",PG&E,,,2022-10-03,PCG,Vista Equity Partners acquired Citrix Systems.
4,"October 3, 2022",,DRE,Duke Realty,2022-10-03,DRE,S&P 500 constituent Prologis Inc. acquired Duk...
...,...,...,...,...,...,...,...
598,"December 11, 1998",Carnival Corp.,,,1998-12-11,CCL,Berkshire Hathaway purchased General Re.
599,"December 11, 1998",,SUN,SunAmerica,1998-12-11,SUN,AIG purchased SunAmerica.
600,"December 11, 1998",Compuware,,,1998-12-11,CPWR,AIG purchased SunAmerica.
601,"June 17, 1997",,USL,USLife,1997-06-17,USL,AIG acquired USLife.
602,"June 17, 1997",Countrywide Credit Industries,,,1997-06-17,CCI,AIG acquired USLife.

In [3]:
df[df['symbol'] == 'FB']

,dateAdded,addedSecurity,removedTicker,removedSecurity,date,symbol,reason
382,"December 23, 2013",Facebook,,,2013-12-23,FB,Market capitalization changes.

In [4]:
df[df['symbol'] == 'META']

Empty DataFrame
Columns: [dateAdded, addedSecurity, removedTicker, removedSecurity, date, symbol, reason]
Index: []